* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #13334c;
}

.forms{
    width: 400px;
    padding: 30px;
    background: #24303c;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 20px 15px 25px black;
}

.forms h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

 .controles {
    width: 100%;
    padding: 10px;
    background: #24302f;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #125235;
    font-family: 'calibri';
    font-size: 16px;
    color: #ffc;
}

.forms p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #ff6347;
}


.form-control.ok input {
    border: 2px solid;
    border-color: greenyellow;
    
}

.form-control.ok p{
    visibility: hidden;
}

.form-cotrol.falla input{
    border: 2px solid;
    border-color: #ff6347;
}

.boton{
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 5px;
    
}
.form-control p{

    font-size: small;
    font-weight: 500;
    text-align: center;
}

.form-cotrol.falla p{
    visibility: visible;

}




